[".local/share/context/go/uber-guide.md"]
    type = "file"
    url = "https://raw.githubusercontent.com/uber-go/guide/refs/heads/master/style.md"
[".local/share/context/go/google-guide.md"]
    type = "file"
    url = "https://raw.githubusercontent.com/google/styleguide/refs/heads/gh-pages/go/guide.md"
[".local/share/context/go/google-bestpractices.md"]
    type = "file"
    url = "https://raw.githubusercontent.com/google/styleguide/refs/heads/gh-pages/go/best-practices.md"
[".local/share/context/go/effective_go.html"]
    type = "file"
    url = "https://raw.githubusercontent.com/golang/website/refs/heads/master/_content/doc/effective_go.html"
[".local/share/context/go/go_mem.html"]
    type = "file"
    url = "https://raw.githubusercontent.com/golang/go/refs/heads/master/doc/go_mem.html"
[".local/share/context/go/go_spec.html"]
    type = "file"
    url = "https://raw.githubusercontent.com/golang/go/refs/heads/master/doc/go_spec.html"
[".local/share/context/go/diagnostics.html"]
    type = "file"
    url = "https://raw.githubusercontent.com/golang/website/refs/heads/master/_content/doc/diagnostics.html"
[".local/share/context/go/gc_guide.html"]
    type = "file"
    url = "https://raw.githubusercontent.com/golang/website/refs/heads/master/_content/doc/gc-guide.html"
[".local/share/context/go/pgo.md"]
    type = "file"
    url = "https://raw.githubusercontent.com/golang/website/refs/heads/master/_content/doc/pgo.md"
[".local/share/context/go/gomm.html"]
    type = "file"
    url = "https://research.swtch.com/gomm"
