[".local/share/mcp-server-apple-events"]
    type = "archive"
	url = "https://github.com/FradSer/mcp-server-apple-events/archive/a8f9d19cbe9326d85471dfc422c41082b633f108.tar.gz"
    stripComponents = 1
