#!/usr/bin/env bash
# global cache {{ .cache.global }}

set -eo pipefail

source "$(chezmoi source-path)/scripts/utils.sh"

_brew_install() {
  {{- $grouped := list }}
  {{- $singles := list }}

  {{- range $formula := .homebrew.formulae }}
    {{- if not (contains " " $formula) }}
      {{ $grouped = mustAppend $grouped $formula }}
    {{- else }}
      {{ $singles = mustAppend $singles $formula }}
    {{- end }}
  {{- end }}

  brew install -q {{ join " " (uniq (sortAlpha $grouped)) }}

  {{- range $formula := $singles }}
  brew install -q {{ $formula }}
  {{- end }}

  brew install -q --cask {{ join " " (uniq (sortAlpha .homebrew.casks)) }}
}

_manage "Homebrew packages" _brew_install
