version: "3.7"
services:
  victoria-metrics:
    image: victoriametrics/victoria-metrics
    command: |
      -retentionPeriod 5y
      -selfScrapeInterval 10s
      -promscrape.config /etc/prometheus/prometheus.yml
      -promscrape.configCheckInterval 30s
      -usePromCompatibleNaming
    container_name: victoria-metrics
    restart: always
    volumes:
      - victoria-metrics-data:/victoria-metrics-data
      - $HOME/.local/etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    network_mode: host
    dns: 100.100.100.100

  node-exporter:
    image: quay.io/prometheus/node-exporter
    command:
      - --collector.processes
      - --collector.systemd
      - --path.rootfs=/host
    container_name: node-exporter
    restart: always
    pid: host
    volumes:
      - /:/host:ro,rslave
    network_mode: host

  loki:
    image: grafana/loki
    command:
      - --config.file=/etc/grafana/loki.yaml
    container_name: loki
    restart: always
    volumes:
      - loki-data:/loki
      - $HOME/.local/etc/grafana/loki.yaml:/etc/grafana/loki.yaml
    network_mode: host

  promtail:
    image: grafana/promtail
    command:
      - --config.file=/etc/grafana/promtail.yaml
    container_name: promtail
    restart: always
    volumes:
      - /var/run:/host/var/run:ro,rslave
      - $HOME/.local/etc/grafana:/etc/grafana
    network_mode: host
                  
  grafana:
    image: grafana/grafana-oss
    container_name: grafana
    restart: always
    volumes:
      - grafana-data:/var/lib/grafana
      - $HOME/.local/etc/grafana/grafana.ini:/etc/grafana/grafana.ini
    network_mode: host
    depends_on:
      - loki
      - victoria-metrics

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    restart: always
    user: root
    security_opt:
      - seccomp=unconfined
    ports:
      - "53/tcp"
      - "53/udp"
      - "67/udp"
      - "80:80/tcp"
    volumes:
      - $HOME/.local/etc/pihole:/etc/pihole
      - $HOME/.local/etc/dnsmasq.d:/etc/dnsmasq.d
    networks:
      - pihole
    environment:
      TZ: America/New_York
      PIHOLE_DNS_: 45.90.28.252;45.90.30.252
    cap_add:
      - NET_ADMIN

  ecobee:
    image: cdzombak/ecobee_influx_connector
    container_name: ecobee
    restart: always
    volumes:
      - $HOME/.local/etc/ecobee:/config
    network_mode: host

  huginn:
    image: ghcr.io/huginn/huginn
    container_name: huginn
    restart: always
    network_mode: host

  ghost:
    image: ghost:alpine
    container_name: ghost
    restart: always
    ports:
      - "2368:2368"
    volumes:
      - $HOME/.local/share/ghost:/var/lib/ghost/content
    environment:
      NODE_ENV: development
      url: http://$HOSTNAME:2368
      database__connection__filename: /var/lib/ghost/content/data/ghost.db

networks:
  pihole:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.168.68.0/24

volumes:
  grafana-data:
  loki-data:
  victoria-metrics-data:
