#!/usr/bin/env bash

_envrc() {
  local readlink="readlink -f"
  if [ ! $($readlink . 2>/dev/null) ]; then
    readlink="readlink"
  fi

  # Work around BSD readlink
  local FILE="$($readlink ${BASH_SOURCE[0]})"
  [ -n "${FILE}" ] || FILE="${BASH_SOURCE[0]}"

  local DIR="$(cd "$(dirname "${FILE}")" && pwd)"

  [ -s "${DIR}/env/helpers" ] && source "${DIR}/env/helpers"
  [ -s "${DIR}/env/aliases" ] && source "${DIR}/env/aliases"
  [ -s "${DIR}/env/config" ] && source "${DIR}/env/config"
  [ -s "${DIR}/env/exports" ] && source "${DIR}/env/exports"
  [ -s "${DIR}/env/funcs" ] && source "${DIR}/env/funcs"

  # System go installation directory.
  local system_gobin=/usr/local/go/bin
  if [ -d $system_gobin ]; then
    path_prepend $system_gobin
    path_prepend ~/go/bin
    export GOROOT=/usr/local/go
    export GOPATH=~/go
    export GOBIN=$GOPATH/bin
  fi

  # User go installation directory.
  local user_gobin=~/.go/bin
  if [ -d $user_gobin ]; then
    path_prepend $user_gobin
    path_prepend ~/go/bin
    export GOROOT=~/.go
    export GOPATH=~/go
    export GOBIN=$GOPATH/bin
  fi

  # If $GOPATH is set and $GOPATH/env exists, source it.
  if [ -n "${GOPATH}" ] && [ -f "${GOPATH}/env" ]; then
    source "${GOPATH}/env"
  fi

  # Common lookups
  [ ! -d /usr/local/sbin ] || path_prepend /usr/local/sbin

  # Homebrew
  if [ -n "$PATH_HOMEBREW" ]; then
    [ -d "${PATH_HOMEBREW}/sbin" ] && { path_prepend "${PATH_HOMEBREW}/sbin" ;}
    [ -d "${PATH_HOMEBREW}/bin" ] && { path_prepend "${PATH_HOMEBREW}/bin" ;}
    type "brew" &>/dev/null && {
      [ -s "$PATH_HOMEBREW/etc/bash_completion" ] && . "$PATH_HOMEBREW/etc/bash_completion"
    }
  fi

  # Python
  if [ -d "${HOME}/.pyenv" ]; then
    export PYENV_ROOT="${HOME}/.pyenv"
    path_prepend "${PYENV_ROOT}/bin"
    path_prepend "${PYENV_ROOT}/shims"
  fi

  # Virtualenv
  local venvsh="$(which virtualenvwrapper.sh 2>/dev/null)"
  if [ -n "$venvsh" ]; then
    source "${venvsh}"
  fi

  # Rbenv
  if which rbenv &>/dev/null; then
    eval "$(rbenv init -)"
  fi

  # nvenv
  export NVM_DIR="$HOME/.nvm"
  if [ -d "${NVM_DIR}" ]; then
     [ -f "/usr/local/opt/nvm/nvm.sh" ] && source "/usr/local/opt/nvm/nvm.sh"
  fi

  # User bin
  [ ! -d "${HOME}/bin" ] || path_prepend "${HOME}/bin"

  [ ! -f ~/.uatcrc ] || source ~/.uatcrc
}

_envrc $@

