# ALIASES
alias vi="vi -p"
alias vim="vim -p"
alias cmore="less"

# LESS w/COLORS
export LESS='-R'
export LESSOPEN='|~/.lessfilter %s'

# BASH PROMPT
export PS1="\`case \$USER in 'root') echo \"\[\033[31;1m\]\" ;; \$LOGNAME) echo \"\[\033[0m\]\" ;; *) echo \"\[\033[33;1m\]\" ;; esac\`\u@\h\[\033[0m\] \e[30;1m\W\e[0m\n\e[\033[0;36m\]❯\[\e[0m\] "

