tap "1password/tap"
tap "jesseduffield/lazydocker"
tap "lizardbyte/homebrew"
{{ if .personal -}}
tap "hashicorp/tap"
{{ end -}}

brew "bash-language-server"
brew "bash"
brew "bmon"
brew "clang-format"
brew "cloc"
brew "cmake"
brew "coreutils"
brew "cowsay"
brew "curl"
brew "dockerfmt"
brew "dpkg"
brew "figlet"
brew "findutils"
brew "fortune"
brew "gcc"
brew "git-lfs"
brew "git"
brew "gnupg"
brew "graphviz"
brew "grip"
brew "hashicorp/tap/terraform"
brew "hstr"
brew "htop"
brew "iftop"
brew "keychain"
brew "kubernetes-cli"
brew "kustomize"
brew "lazydocker"
brew "libgit2"
brew "llvm"
brew "lolcat"
brew "maven"
brew "meson"
brew "most"
brew "mtr"
brew "ninja"
brew "node"
brew "openjdk"
brew "openjdk@11", link: true
brew "postgresql@15", link: true
brew "progress"
brew "pyenv"
brew "python@3.13"
brew "ripgrep"
brew "shellcheck"
brew "telnet"
brew "tree"
brew "watch"
brew "watchman"
brew "wget"
brew "yq"
brew "zsh-completions"
brew "zsh"
{{ if .personal -}}
brew "certbot"
brew "llama.cpp"
brew "lua"
brew "luajit"
brew "openai-whisper"
brew "rbenv"
brew "steipete/tap/gogcli"
brew "steipete/tap/remindctl"
brew "steipete/tap/sag"
brew "ruby"
brew "zig"
{{ end -}}

cask "1password"
cask "brave-browser"
cask "dbeaver-community"
cask "dropbox"
cask "espanso"
cask "fork"
cask "gcloud-cli"
cask "github"
cask "google-chrome"
cask "iterm2"
cask "jordanbaird-ice@beta"
cask "macdown"
cask "obsidian"
cask "orbstack"
cask "raycast"
cask "rectangle"
cask "slack"
cask "zed"
{{ if .personal -}}
cask "balenaetcher"
cask "discord"
cask "disk-inventory-x"
cask "kando"
cask "launchbar"
cask "librecad"
cask "librewolf"
cask "little-snitch"
cask "mudlet"
cask "netiquette"
cask "oversight"
cask "tailscale-app"
cask "taskexplorer"
cask "veracrypt"
cask "vlc"
cask "zoom"
{{ end }}
