# Ignore everything by default.
*

!.bash_profile
!.clang-format
!.dotrc
!.dotrc.bash
!.dotrc.zsh
!.flake8
!.gitconfig
!.gitignore
!.mwrc
!.profile.d
!.shellcheckrc
!.ssh
!.zshrc
!justfile

!bin
bin/*
!bin/apb

!.config
.config/*
!.config/bat
!.config/btop
.config/btop/btop.log
!.config/htop
!.config/mw
!.config/helix
.config/helix/runtime
!.config/zellij
!.config/zsh

!.local
.local/*
!.local/bin
.local/bin/*
!.local/bin/ansi
!.local/bin/bash
!.local/bin/cargo
!.local/bin/countdown
!.local/bin/difft
!.local/bin/exa
!.local/bin/go
!.local/bin/gping
!.local/bin/git-*
!.local/bin/hx
!.local/bin/just
!.local/bin/mw
!.local/bin/ninja
!.local/bin/protoc
!.local/bin/rg
!.local/bin/rustup
!.local/bin/sniffnet
!.local/bin/yq
!.local/bin/zellij
!.local/bin/zsh

!.local/etc
.local/etc/*
!.local/etc/ansible
.local/etc/ansible/inventory
{{ if .personal -}}
!.local/etc/docker
!.local/etc/ecobee
!.local/etc/grafana
!.local/etc/homebrew
!.local/etc/mediawiki
!.local/etc/nginx
!.local/etc/prometheus
!.local/etc/systemd
!.local/etc/tailscale
{{- end }}

/scripts/ # chezmoi helpers
.DS_Store
.*.sw?
