{{- $globalCache := "1" -}}
{{- $personal := and (lt (len .chezmoi.hostname) 15) (ne .chezmoi.hostname .chezmoi.username) -}}
{{- $localRoot := print .chezmoi.homeDir "/.local" -}}
{{- $localBin := print $localRoot "/bin" -}}
{{- $userHome := .chezmoi.homeDir -}}
{{- $userBin := print $userHome "/bin" }}
{{- $userConfig := print $userHome "/.config" -}}
{{- $goPath := print $userHome "/go" -}}
{{- $goPathBin := print $goPath "/bin" -}}
{{- $goRoot := print $localRoot "/go" -}}
{{- $goRootBin := print $goRoot "/bin" -}}
{{- $cargoHome := print $userHome "/.cargo" -}}
{{- $cargoBin := print $cargoHome "/bin" -}}
{{- $userPythonBin := print (trim (output "python3" "-m" "site" "--user-base")) "/bin" -}}
{{- $pathFragments := list }}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $pathFragments = list $userBin $localBin $cargoBin $goPathBin $goRootBin $userPythonBin "/opt/homebrew/sbin" "/opt/homebrew/bin" "/usr/local/sbin" "/usr/local/bin" }}
{{- else -}}
{{-   $pathFragments = list $userBin $localBin $cargoBin $goPathBin $goRootBin $userPythonBin "/usr/local/sbin" "/usr/local/bin" }}
{{- end -}}
{{- $computedPath := join ":" (uniq (concat $pathFragments (splitList ":" (env "PATH")))) -}}

diff:
  command: "difft"
  exclude:
    - scripts
git:
  autoCommit: false

data:
  arch: {{ quote .chezmoi.arch }}
  os: {{ quote .chezmoi.os }}
  personal: {{ $personal }}
  shell: {{ trim (output "which" "zsh") }}

  path:
    config: {{ $userConfig }}
    profiled: {{ print $userHome "/.profile.d" }}
    goroot: {{ $goRoot }}
    gopath: {{ $goPath }}
    local: {{ $localRoot }}
    cargo: {{ $cargoHome }}
    home: {{ $userHome }}
    path: {{ $computedPath }}
  
  paths:
    local:
      bin: {{ quote $localBin }}
      root: {{ quote $localRoot }}
    user:
      bin: {{ quote $userBin }}
      config: {{ quote $userConfig }}
      home: {{ quote $userHome }}
    go:
      gopath: {{ quote $goPath }}
      gobin: {{ quote (print $goPath "/bin") }}
      goroot: {{ quote $goRoot }}
    cargo:
      home: {{ quote $cargoHome }}
      bin: {{ quote (print $cargoHome "/bin") }}
  user: {{ quote .chezmoi.username }}
  cache:
    global: {{ $globalCache }}
