{{- $globalCache := "1" -}}
{{- $personal := and (lt (len .chezmoi.hostname) 15) (ne .chezmoi.hostname .chezmoi.username) -}}
{{- $localRoot := print .chezmoi.homeDir "/.local" -}}
{{- $localBin := print $localRoot "/bin" -}}
{{- $localEtc := print $localRoot "/etc" }}
{{- $localShare := print $localRoot "/share" }}
{{- $localVar := print $localRoot "/var" }}
{{- $localLog := print $localRoot "/log" }}
{{- $userHome := .chezmoi.homeDir -}}
{{- $userBin := print $userHome "/bin" }}
{{- $userConfig := print $userHome "/.config" -}}
{{- $goPath := print $userHome "/go" -}}
{{- $goPathBin := print $goPath "/bin" -}}
{{- $goRoot := print $localRoot "/go" -}}
{{- $goRootBin := print $goRoot "/bin" -}}
{{- $cargoHome := print $userHome "/.cargo" -}}
{{- $cargoBin := print $cargoHome "/bin" -}}
{{- $userPythonBin := print (trim (output "python3" "-m" "site" "--user-base")) "/bin" -}}
{{- $pathFragments := list }}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $pathFragments = list $userBin $localBin $cargoBin $goPathBin $goRootBin $userPythonBin "/opt/homebrew/sbin" "/opt/homebrew/bin" "/usr/local/sbin" "/usr/local/bin" }}
{{- else -}}
{{-   $pathFragments = list $userBin $localBin $cargoBin $goPathBin $goRootBin $userPythonBin "/usr/local/sbin" "/usr/local/bin" }}
{{- end -}}
{{- $computedPath := join ":" (uniq (concat $pathFragments (splitList ":" (env "PATH")))) -}}

diff:
  command: "difft"
  exclude:
    - scripts
git:
  autoCommit: false

data:
  user: {{ .chezmoi.username }}
  shell: {{ trim (output "which" "zsh") }}
  personal: {{ $personal }}
  cache:
    global: {{ $globalCache }}

  arch: {{ .chezmoi.arch }}
  os: {{ .chezmoi.os }}

  path:
    cargo: {{ $cargoHome }}
    config: {{ $userConfig }}
    gopath: {{ $goPath }}
    goroot: {{ $goRoot }}
    home: {{ $userHome }}
    local: {{ $localRoot }}
    path: {{ $computedPath }}
    profiled: {{ joinPath $userHome ".profile.d" }}

    named:
      cargoBin: {{ $cargoBin }}
      goBin: {{ $goPathBin }}
      gorootBin: {{ $goRootBin }}
      localBin: {{ $localBin }}
      localLog: {{ $localLog }}
      localShare: {{ $localShare }}
      localVar: {{ $localVar }}
      mise: {{ joinPath $userBin "mise" }}
      userBin: {{ $userBin }}

  versions:
    ansi: "2c84a541a31d68a4d2779fbfb37a56fca29da4ab"
    bat: "0.24.0"
    bazelisk: "1.20.0"
    btop: "1.3.1"
    chezmoi: "2.50.0"
    delta: "0.17.0"
    difftastic: "0.58.0"
    direnv: "2.34.0"
    dirfmt: "0.2.0"
    ensure: "0.5.0"
    eza: "0.18.21"
    fasd: "1.0.1"
    fd: "10.1.0"
    fzf: "0.53.0"
    gh: "2.52.0"
    git: "2.45.2"
    git_flow: "0.9.0"
    go: "1.22.5"
    golangci_lint: "1.59.1"
    gopls: "0.16.1"
    helix: "24.07"
    helix_check: "24.7"
    jq: "1.7.1"
    just: "1.30.1"
    mise: "v2024.7.1"
    mockgen: "0.4.0"
    ripgrep: "14.1.0"
    rustup: "1.27.1"
    shfmt: "3.8.0"
    staticcheck: "2023.1.7"
    yq: "4.44.1"
    zellij: "0.40.1"
