# Ignore everything by default.
*

!bin
bin/*
!bin/apb

!.config
.config/*
!.config/bat
!.config/btop
.config/btop/btop.log
!.config/htop
!.config/mw
!.config/helix
.config/helix/runtime
!.config/zellij

!.local
.local/*
!.local/bin
.local/bin/*
!.local/bin/cargo
!.local/bin/go
!.local/bin/mw
!.local/bin/op
!.local/bin/rustup

!.local/etc
.local/etc/*
!.local/etc/ansible
.local/etc/ansible/inventory/**
!.local/etc/docker
!.local/etc/ecobee
!.local/etc/grafana
!.local/etc/prometheus
!.local/etc/systemd

/scripts/ # chezmoi helpers
.DS_Store
.*.sw?
