{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

# Ignore all of $HOME/bin except specific scripts things
/bin/
!/bin/executable_apb

.config/helix/runtime
/scripts/ # chezmoi helpers
.config/btop/btop.log
.DS_Store
.*.sw?
