[user]
	name = Matt Way
	{{- if .personal }}
	email = mway@mway.id
	{{- else }}
	email = mway@uber.com
	{{- end }}
[github]
	user = mway
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[diff]
	external = difft
	relative = true
	renames = copies
[help]
	autocorrect = 1
[push]
	default = current
	followTags = true
[core]
	editor = hx
	excludesfile = ~/.gitignore
[merge]
	conflictstyle = diff3
[mergetool]
	keepBackup = true
[alias]
	unstaged = "!f() { git --no-pager diff --name-only; }; f"
	staged = "!f() { git --no-pager diff --name-only --cached; }; f"
	changed = "!f() { git --no-pager show --pretty="" --name-only; }; f"
	co = checkout
	am = commit --amend
	cascade = flow --cascade
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	lg = log --graph --pretty=format:'%C(bold red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	s = status --short --branch
	ec = edit-changed
	eu = edit-unstaged
	du = diff-unstaged
	au = add-unstaged
	cb = change-branch
	ds = diff --staged
	fadd = fuzzy-add
	fdiff = fuzzy-diff
	curbranch = symbolic-ref --short HEAD
	cur = curbranch
	upstream = rev-parse --abbrev-ref HEAD@{upstream}
	branch-commit = "!f() { git l "$1" | head -n1; }; f"
	bc = branch-commit
	tags = tag -l
	sshow = "!f() { git stash show stash^{/$*} -p; }; f"
	sapply = "!f() { git stash apply stash^{/$*}; }; f"
	spop = "!f() { git stash pop stash^{/$*}; }; f"
	show-files = show --pretty="format:" --name-only
	pr-and-merge = "!f() { git pr && git merge-pr; }; f"
	pr-merge = "merge-pr"
	prm = pr-and-merge
	create-release = "!f() { release create --notes="$1" --title="$1" "$1" && git fetch -t; }; f"
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[http "https://gopkg.in"]
	followRedirects = true
[url "ssh://git@github.com/mway/"]
	insteadOf = https://github.com/mway/
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[farc "upload"]
	add-repo-prefix = false
[merge]
	stat = false
[rebase]
	stat = false

{{- if not .personal }}
[credential "https://git.uberinternal.com"]
	helper = usso
[credential "https://vfs4g-cache.uberinternal.com"]
	helper = usso
[http "https://gopkg.uberinternal.com"]
	followRedirects = true
[url "ssh://config.uber.internal/"]
	insteadOf = https://config.uber.internal/
[url "ssh://gitolite@code.uber.internal:"]
	insteadof = https://code.uber.internal/
[url "ssh://code.uber.internal/"]
	insteadOf = https://code.uber.internal/
[url "ssh://gitolite@code.uber.internal/"]
	insteadOf = git://code.uber.internal/
[url "ssh://git@github.com/uber/"]
	insteadOf = https://github.com/uber/
[farc "update"]
	url = gitolite@code.uber.internal:community/farc
[remote "origin"]
	fetch = +refs/heads/mway/*:refs/remotes/origin/mway/*
	fetch = ^refs/heads/phabricator/*
	fetch = ^refs/tags/phabricator/*
	tagOpt = --no-tags
{{- end }}
