#!/usr/bin/env zsh

typeset -U path PATH

function PATH_add() {
    for arg in "$@"; do
        [ -z "$arg" ] || path=("$arg" "$path[@]")
    done
}

if [ ! -f .profile.d.all ]; then
    echo "Warning: ${HOME}/.profile.d.all does not exist"
else
    . .profile.d.all
fi
