#!/usr/bin/env zsh
# Managed by chezmoi

export LANG=en_US.UTF-8

# Added by OrbStack: command-line tools and integration
# This won't be added again if you remove it.
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
