#!/usr/bin/env zsh

find "{{ .path.home }}/.profile.d" -type f -name "*.bash" -o \! \( -name "*.*" \) |\
    sort |\
    while IFS= read -r f; do
        # shellcheck disable=SC1090
        source "$f" || echo "[{{ .path.home }}/.dotrc.bash] Failed to source $f" >&2
    done
