#!/usr/bin/env bash

export FZF_BASE="{{ .path.local }}/share/fzf"
[ ! -f "${FZF_BASE}/shell/key-bindings.bash" ] || source "${FZF_BASE}/shell/key-bindings.bash"
[ ! -f "${FZF_BASE}/shell/completion.bash" ] || source "${FZF_BASE}/shell/completion.bash"

sources=(
  '{{ joinPath .path.home ".dotrc" }}'
  '{{ joinPath .path.home ".dotrc.bash" }}'
)

for src in "${sources[@]}"; do
  # shellcheck disable=SC1090
  [ ! -f "$src" ] || source "$src"
done
