# Managed by chezmoi

function maybe_source() {
    # shellcheck disable=SC1090
    [ -z "$1" ] || [ ! -f "$1" ] || source "$1"
}

export PATH="{{ .path.path }}"

maybe_source "{{ .path.home }}/.local/etc/homebrew/env"
maybe_source "{{ .path.home }}/.config/op/plugins.sh"
