pylsp-mypy{{- if ne .versions.pylsp_mypy "latest" -}}=={{ quote .versions.pylsp_mypy }}{{- end }}
python-lsp-black{{- if ne .versions.pylsp_black "latest" -}}=={{ quote .versions.pylsp_black }}{{- end }}
