#!/usr/bin/env bash
# Managed by chezmoi

sources=(
  '{{ joinPath .path.home ".dotrc" }}'
  '{{ joinPath .path.home ".dotrc.bash" }}'
)

for src in "${sources[@]}"; do
  # shellcheck disable=SC1090
  [ ! -f "$src" ] || source "$src"
done

export MISE="{{ .path.named.mise }}"
[ -f "$MISE" ] && eval "$("$MISE" activate bash)"

eval "$(fzf --bash)"
eval "$(just --completions bash)"

# Added by LM Studio CLI (lms)
export PATH="$PATH:{{ joinPath .path.home ".lmstudio/bin" }}"
