#!/usr/bin/env zsh
# Managed by chezmoi

autoload -U +X compinit && compinit
autoload -U colors && colors
autoload -U select-word-style && select-word-style bash

ZSH_THEME="dracula"
HIST_STAMPS="yyyy-mm-dd"
setopt EXTENDED_HISTORY
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_FIND_NO_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_SAVE_NO_DUPS
setopt INC_APPEND_HISTORY
setopt interactivecomments
export HISTTIMEFORMAT="[%F %T] "
export HISTSIZE=100000000
export LANG=en_US.UTF-8

export MISE="{{ .path.named.mise }}"
[ ! -f "$MISE" ] || eval "$("$MISE" activate zsh)"

sources=(
  '{{ joinPath .path.home ".dotrc" }}'
  '{{ joinPath .path.home ".dotrc.zsh" }}'
  '{{ joinPath .path.home ".dotrc.local" }}'
)
for src in "${sources[@]}"; do
  [ ! -f "$src" ] || source "$src"
done

eval "$(fzf --zsh)"
eval "$(just --completions zsh)"

plugins=(
  bazel
  direnv
  fasd
  fzf
  gitfast
  gpg-agent
  golang
  homebrew
  keychain
  rust
  z
)
