{{- $model := "groq/moonshotai/kimi-k2-instruct" -}}
{{- $model := "groq/qwen/qwen3-32b" -}}
{{- $model := "groq/deepseek-r1-distill-llama-70b" -}}
{{- "---" }}
# Managed by Chezmoi
analytics-disable: true
auto-commits: false
commit: false
dark-mode: true
dirty-commits: false
editor-model: {{ quote $model }}
editor: hx
gitignore: false
model: {{ quote $model }}
weak-model: {{ quote $model }}
read:
  - ~/AGENT.md
  - AGENT.md
