[tools]
bat = {{ quote .versions.bat }}
chezmoi = {{ quote .versions.chezmoi }}
difftastic = {{ quote .versions.difftastic }}
direnv = {{ quote .versions.direnv }}
fd = {{ quote .versions.fd }}
fzf = {{ quote .versions.fzf }}
go = {{ quote .versions.go }}
golangci-lint = {{ quote .versions.golangci_lint }}
jq = {{ quote .versions.jq }}
just = {{ quote .versions.just }}
ripgrep = {{ quote .versions.ripgrep }}
staticcheck = {{ quote .versions.staticcheck }}
yq = {{ quote .versions.yq }}
zellij = {{ quote .versions.zellij }}
