#!/usr/bin/env zsh

typeset -U path PATH

function PATH_add() {
    for arg in "$@"; do
        [ -z "$arg" ] || path=("$arg" "$path[@]")
    done
}

find "{{ .path.home }}/.profile.d" -type f -name "*.zsh" -o \! \( -name "*.*" \) |\
    sort |\
    while IFS= read -r f; do
        # shellcheck disable=SC1090
        source "$f" || echo "[{{ .path.home }}/.dotrc.zsh] Failed to source $f" >&2
    done
