export ZSH="$HOME/.oh-my-zsh"
export FZF_BASE="$HOME/.local/share/fzf"

# ZSH_THEME="dracula/dracula"
HIST_STAMPS="yyyy-mm-dd"
# DISABLE_AUTO_TITLE="true"
# ENABLE_CORRECTION="true"

plugins=(
  bazel
  direnv
  fasd
  fd
  fzf
  gitfast
  gpg-agent
  golang
  keychain
  ripgrep
  rust
  z
)

source "$ZSH/oh-my-zsh.sh"

setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_FIND_NO_DUPS
setopt HIST_SAVE_NO_DUPS
setopt EXTENDED_HISTORY
setopt INC_APPEND_HISTORY
export HISTTIMEFORMAT="[%F %T] "
export HISTSIZE=100000000
export LANG=en_US.UTF-8

[ ! -f '{{ .path.home }}/.dotrc' ] || source '{{ .path.home }}/.dotrc'
[ ! -f '{{ .path.home }}/.dotrc.zsh' ] || source '{{ .path.home }}/.dotrc.zsh'
[ ! -f '{{ .path.home }}/.zshrc.local' ] || source '{{ .path.home }}/.zshrc.local'
