#!/usr/bin/env zsh
# Managed by chezmoi

autoload -U +X compinit && compinit

{{ $fzfBase := joinPath .path.local "share" "fzf" -}}
{{ $fzfCompletion := joinPath $fzfBase "shell" "completion.zsh" -}}
{{ $fzfBindings := joinPath $fzfBase "shell" "key-bindings.zsh" -}}
{{ $dotFzf := joinPath .path.home ".fzf.zsh" -}}
export FZF_BASE="{{ $fzfBase }}"
[ ! -f "{{ $fzfCompletion }}" ] || source "{{ $fzfCompletion }}"
[ ! -f "{{ $fzfBindings }}" ] || source "{{ $fzfBindings }}"
[ ! -f "{{ $dotFzf }}" ] || source "{{ $dotFzf }}"

{{ $justBase := joinPath .path.local "share" "just" -}}
{{ $justCompletions := joinPath $justBase "completions" "just.zsh" -}}
export JUST_BASE="{{ $justBase }}"
[ ! -f "{{ $justCompletions }}" ] || source "{{ $justCompletions }}"

export MISE="{{ .path.named.mise }}"
[ ! -f "$MISE" ] || eval "$("$MISE" activate zsh)"

ZSH_THEME="dracula"
HIST_STAMPS="yyyy-mm-dd"

setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_FIND_NO_DUPS
setopt HIST_SAVE_NO_DUPS
setopt EXTENDED_HISTORY
setopt INC_APPEND_HISTORY
export HISTTIMEFORMAT="[%F %T] "
export HISTSIZE=100000000
export LANG=en_US.UTF-8

export ZSH="{{ .path.home }}/.oh-my-zsh"
sources=(
  '{{ joinPath .path.home ".dotrc" }}'
  '{{ joinPath .path.home ".dotrc.zsh" }}'
  '{{ joinPath .path.home ".dotrc.local" }}'
  "$ZSH/oh-my-zsh.sh"
)
for src in "${sources[@]}"; do
  [ ! -f "$src" ] || source "$src"
done

# Added by LM Studio CLI (lms)
export PATH="$PATH:{{ joinPath .path.home ".cache/lm-studio/bin" }}"

plugins=(
  bazel
  direnv
  fasd
  fzf
  gitfast
  gpg-agent
  golang
  keychain
  rust
  z
)
