#!/usr/bin/env just --justfile
# Managed by chezmoi

@default:
    just --justfile {{ "{{" }} justfile() {{ "}}" }} --list | grep -v default

sync:
    chezmoi add --recursive=false {{ .path.config }}/{bat,btop,helix,htop,mw,zellij}
    chezmoi add {{ .path.profiled }}
    chezmoi add {{ .path.local }}/bin/{cargo,difft,exa,go,hx,just,mw,rustup,yq,zellij}
    {{- if .personal }}
    chezmoi add {{ .path.local }}/etc/{ansible,docker,ecobee,grafana,prometheus,systemd}
    {{- end }}

play TAGS="config,core,tools,network,services" *ARGS="":
    ansible-playbook \
        {{ .path.local }}/etc/ansible/playbook.yml \
        -i {{ .path.local }}/etc/ansible/lab \
        -t "{{ "{{" }} TAGS {{ "}}" }}" \
        "{{ "{{" }} ARGS {{ "}}" }}" \
        && true
alias play-all: play

play-config *ARGS="": (play "config" ARGS)
alias play-config-only := play-config

play-core *ARGS="": (play "config,core" ARGS)
play-core-only *ARGS="": (play "core" ARGS)

play-tools *ARGS="": (play "config,core,tools" ARGS)
play-tools-only *ARGS="": (play "tools" ARGS)

play-network *ARGS="": (play "config,core,tools,network" ARGS)
play-network-only *ARGS="": (play "network" ARGS)

play-services *ARGS="": (play "config,core,tools,network,services" ARGS)
play-services-only *ARGS="": (play "services" ARGS)
