#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

{{- $bazelisk := quote (print .paths.local.bin "/bazelisk") }}
{{- $bazel := quote (print .paths.local.bin "/bazel") }}
{{- $remoteFile := printf "bazelisk-%s-%s" .chezmoi.os .chezmoi.arch }}
{{- $url := quote (printf "https://github.com/bazelbuild/bazelisk/releases/download/%s/%s" .versions.bazelisk $remoteFile) }}

_bazelisk() {
  run() {
    if [ ! -f {{ $bazelisk }} ]; then
      curl -sLo {{ $bazelisk }} {{ $url }}
      chmod +x {{ $bazelisk }}
      _wrapper {{ $bazelisk }} {{ $bazel }}
    fi
  }

  _manage Bazelisk run
}

_bazelisk
