#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

{{- $go := quote (print .paths.go.goroot "/bin/go") }}
{{- $tarFile := printf "go%s.%s-%s.tar.gz" .versions.go .chezmoi.os .chezmoi.arch }}
{{- $url := quote (print "https://go.dev/dl/" $tarFile) }}

_go() {
  run() {
    local updated=0

    if [[ "$({{ $go }} version 2>/dev/null)" == *" go{{ .versions.go }} "* ]]; then
      updated=1
    fi

    if [ $updated -eq 0 ]; then
      local SANDBOX="$(mktemp -d)"
      trap 'rm -rf "$SANDBOX"' EXIT
      cd "$SANDBOX"

      curl -sLO {{ $url }}
      tar -zxf {{ $tarFile|quote }}
      rm -rf {{ .paths.go.goroot|quote }}
      mv go {{ .paths.go.goroot|quote }}
    fi
  }

  _manage Go run
}

_go
