#!/usr/bin/env bash

source "${HOME}/.profile.d/00_core"
ansi-badge-blue "  mise" "$(ansi --bold Installing)"
mise install -yq
# ansi-badge-blue "  mise" "$(ansi --bold Upgrading)"
# mise upgrade -yq
