#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

{{- $env := quote (print .paths.rust.cargo "/env") }}
{{- $cargo := quote (print .paths.rust.cargo "/bin/cargo") }}
{{- $config := quote (print .paths.user.config "/helix") }}
{{- $runtime := quote (print .paths.user.config "/helix/runtime") }}
{{- $repo := "https://github.com/helix-editor/helix" }}
{{- $version := .versions.helix }}

_helix() {
  run() {
    local updated=0
    local ignore="(warning|info|Downloaded|Compiling|Finished|Updating|Installing|Installed|done):"

    if command -v hx >/dev/null; then
      if [[ "$(hx --version)" == *" {{ $version }} "* ]]; then
        updated=1
      fi
    fi

    if [ $updated -eq 0 ]; then
      local SANDBOX="$(mktemp -d)"
      trap 'rm -rf "$SANDBOX"' EXIT
      cd "$SANDBOX"

      git clone {{ $repo }} >/dev/null
      cd helix
      git checkout {{ quote $version }} >/dev/null

      source {{ $env }}
      {{ $cargo }} install --locked --path helix-term 2>&1 | grep -v "$ignore"

      # Runtime configuration
      rm -rf {{ $runtime }}
      mkdir -p {{ $config }} && cp -R runtime {{ $runtime }}
    fi
  }

  _manage Helix run
}

_helix
