#!/usr/bin/env bash

set -euo pipefail

source "${HOME}/.profile.d/00_core"
ansi-badge-blue "   fzf" "Writing shell completion scripts"
fzf --zsh >>"${HOME}/.fzf.zsh"
fzf --bash >>"${HOME}/.fzf.bash"
