#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

{{- $version := .versions.tmux }}
{{- $prefix := print .paths.local.root "/tmux" }}
{{- $tmux := quote (print $prefix "/bin/tmux") }}
{{- $tarDir := print "tmux-" $version }}
{{- $tarFile := print "tmux-" $version ".tar.gz" }}
{{- $url := quote (printf "https://github.com/tmux/tmux/releases/download/%s/%s" $version $tarFile) }}
{{- $wrapperSrc := quote (print $prefix "/bin/tmux") }}
{{- $wrapperDst := quote (print .paths.user.bin "/tmux") }}

_tmux() {
  run() {
    local updated=0

    if command -v {{ $tmux }} >/dev/null; then
      if [[ "$({{ $tmux }} -V)" == *" {{ $version }}" ]]; then
        updated=1
      fi
    fi

    if [ $updated -eq 0 ]; then
      local SANDBOX="$(mktemp -d)"
      trap 'rm -rf "$SANDBOX"' EXIT
      cd "$SANDBOX"

      curl -sLO {{ $url }}
      tar -zxf {{ $tarFile|quote }} && cd {{ $tarDir|quote }}
      ./configure --prefix={{ $prefix|quote }} --disable-utf8proc >/dev/null
      make >/dev/null
      make install >/dev/null
      _wrapper {{ $wrapperSrc}} {{ $wrapperDst }}
    fi
  }

  _manage tmux run
}

_tmux
