#!/usr/bin/env bash

BREW=/opt/homebrew/bin/brew
if [[ -x "$BREW" ]]; then
  source "${HOME}/.profile.d/00_core"
  ansi-badge-blue "  brew" "Bundling ${HOME}/.Brewfile"
  "$BREW" bundle install --quiet --file "${HOME}/.Brewfile"
  "$BREW" upgrade
fi
