#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

{{- $version := .versions.golangci_lint }}
{{- $golangci := quote (print .paths.local.bin "/golangci-lint") }}
{{- $tarDir := printf "golangci-lint-%s-%s-%s" (trimPrefix "v" $version) .chezmoi.os .chezmoi.arch }}
{{- $tarFile := print $tarDir ".tar.gz" }}
{{- $url := quote (printf "https://github.com/golangci/golangci-lint/releases/download/%s/%s" $version $tarFile) }}

_golangci_lint() {
  run() {
    local updated=0

    if command -v {{ $golangci }} >/dev/null; then
      if [[ "$({{ $golangci }} --version)" == *" {{ $version }} "* ]]; then
        updated=1
      fi
    fi

    if [ $updated -eq 0 ]; then
      local SANDBOX="$(mktemp -d)"
      trap 'rm -rf "$SANDBOX"' EXIT
      cd "$SANDBOX"

      curl -sLO {{ $url }}
      tar -zxf {{ $tarFile|quote }} && cd {{ $tarDir|quote }}
      mv golangci-lint {{ $golangci }}
    fi
  }

  _manage golangci-lint run
}

_golangci_lint

