[Unit]
Description=%i collect metrics
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/mway
ExecStart=/bin/sh -c "nohup /opt/mway/bin/ecobee_influx_connector -config /opt/mway/etc/ecobee/config.json &"
ExecStop=

[Install]
WantedBy=multi-user.target
