[".local/share/cursor"]
    type = "archive"
    url = "https://downloads.cursor.com/lab/2025.10.02-bd871ac/{{ .chezmoi.os }}/{{ .chezmoi.arch }}/agent-cli-package.tar.gz"
    exact = true
    stripComponents = 1
