["bin/src"]
    type = "file"
    url = "https://github.com/sourcegraph/src-cli/releases/download/{{ .versions.sourcegraph }}/src_{{ .os }}_{{ .arch }}"
    executable = true
    refreshPeriod = "168h"
