[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    refreshPeriod = "168h"

[".oh-my-zsh/themes/dracula.zsh-theme"]
    type = "file"
    url = "https://raw.githubusercontent.com/dracula/zsh/master/dracula.zsh-theme"
    refreshPeriod = "168h"

[".oh-my-zsh/themes/lib/async.zsh"]
    type = "file"
    url = "https://raw.githubusercontent.com/dracula/zsh/master/lib/async.zsh"
    refreshPeriod = "168h"

[".config/zsh/funcs/_git"]
    type = "file"
    url = "https://raw.githubusercontent.com/git/git/master/contrib/completion/git-completion.zsh"
    refreshPeriod = "168h"

[".config/zsh/funcs/_golang"]
    type = "file"
    url = "https://raw.githubusercontent.com/zsh-users/zsh-completions/master/src/_golang"
    refreshPeriod = "168h"

[".config/zsh/funcs/_just"]
    type = "file"
    url = "https://raw.githubusercontent.com/casey/just/master/completions/just.zsh"
    refreshPeriod = "168h"
