#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

{{- $prefix := .paths.local.root }}
{{- $zig := quote (print $prefix "zig/bin/zig") }}
{{- $repo := quote "https://github.com/ziglang/zig" }}
{{- $wrapper := quote (print .paths.local.bin "/zig") }}
{{- $version := .versions.zig }}

_zig() {
  run() {
    echo -n "skipping... "
    local updated=1

    if [[ "$({{ $zig }} version 2>/dev/null)" == *" {{ $version }} "* ]]; then
      updated=1
    fi

    if [ $updated -eq 0 ]; then
      local SANDBOX="$(mktemp -d)"
      trap 'rm -rf "$SANDBOX"' EXIT
      cd "$SANDBOX"

      git clone {{ $repo }} >/dev/null
      cd "$(basename {{ $repo }})"
      git checkout {{ quote $version }} >/dev/null

      mkdir build && cd build
      CMAKE_INSTALL_PREFIX={{ quote $prefix }} cmake ..
      make install

      _wrapper {{ $zig }} {{ $wrapper }}
    fi
  }

  _manage zig run
}

_zig
