#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

{{- $version := .versions.yq }}
{{- $cliVersion := quote (trimPrefix "v" $version) }}
{{- $fname := printf "yq_%s_%s" .os .arch }}
{{- $url := quote (printf "https://github.com/mikefarah/yq/releases/download/%s/%s" $version $fname) }}
{{- $yq := quote (print .paths.local.bin "/yq") }}

_yq() {
  fn() {
    local updated=0

    if [[ "$({{ $yq }} --version 2>/dev/null)" == *" {{ $cliVersion }}" ]]; then
      updated=1
    fi

    if [ $updated -eq 0 ]; then
      curl -sLo {{ $yq }} {{ $url }}
      chmod +x {{ $yq }}
    fi
  }

  _manage yq fn
}
