#!/usr/bin/env bash
# global cache {{ .cache.global }}
# local cache 2

source "$(chezmoi source-path)/scripts/utils.sh"

_install_prerequisites() {
  sudo apt install -yqqq {{ join " " .apt.prerequisites }}
}

_manage "prerequisites" _install_prerequisites
