#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

_clang_format() {
  local version="13"

  _apt "clang-format-$version"
  sudo update-alternatives \
    --install /usr/bin/clang-format      clang-format      "/usr/bin/clang-format-$version" 200 \
    --slave   /usr/bin/clang-format-diff clang-format-diff "/usr/bin/clang-format-diff-$version" \
    --slave   /usr/bin/git-clang-format  git-clang-format  "/usr/bin/git-clang-format-$version"
}

_clang_format