#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

{{- $version := "19.x" }}
{{- $url := quote (print "https://deb.nodesource.com/setup_" $version) }}

if ! command -v npm >/dev/null; then
  curl -sL {{ $url }} | sudo -E bash -
fi

_apt nodejs

