#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

_update_alternatives() {
  {{- range $alt := .apt.alternatives }}
    {{- $lines := list (printf "--install %s %s %s 200" $alt.dst (base $alt.dst) $alt.src) }}
    {{- if hasKey $alt "related" }}
      {{- range $sub := $alt.related }}
        {{- $lines = mustAppend $lines (printf "--slave %s %s %s" $sub.dst (base $sub.dst) $sub.src) }}
      {{- end }}
    {{- end }}

    sudo update-alternatives {{ join " " $lines }} 1>&2
  {{- end }}
}

_manage "alternatives" _update_alternatives
