#!/usr/bin/env bash
# global cache 2 {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

_install_gpg_keys() {
  mkdir -p {{ quote .paths.local.gpg }}
  {{- range $key := .apt.gpg_keys }}
    {{- $path := quote (print "/etc/apt/trusted.gpg.d/" $key.name ".gpg") }}
    {{- if or (not (hasKey $key "verbatim")) (not $key.verbatim) }}
      curl -fsSL {{ quote $key.url }} | sudo gpg --yes {{ $key.args }} -o {{ $path }} >/dev/null
    {{- else }}
      sudo curl -fsSLo {{ $path }} {{ quote $key.url }}
    {{- end }}
    sudo chmod a+r {{ $path }}
  {{- end }}
}

_manage "gpg keys" _install_gpg_keys
