#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

{{- $version := .versions.buf }}
{{- $cliVersion := quote (trimPrefix "v" $version) }}
{{- $arch := replace "amd64" "x86_64" .arch }}
{{- $buf := quote (print .paths.local.bin "/buf") }}
{{- $fname := printf "buf-%s-%s" (.os|title) $arch }}
{{- $url := quote (printf "https://github.com/bufbuild/buf/releases/download/%s/%s" $version $fname) }}

_buf() {
  run() {
    local updated=0

    if [[ "$({{ $buf }} --version 2>/dev/null)" == *" {{ $cliVersion }}" ]]; then
      updated=1
    fi

    if [ $updated -eq 0 ]; then
      curl -sLo {{ $buf }} {{ $url }}
      chmod +x {{ $buf }}
    fi
  }

  _manage buf run
}

_buf
