#!/usr/bin/env bash
# global cache {{ .cache.global }}
# local cache 2

source "$(chezmoi source-path)/scripts/utils.sh"

_install_prerequisites() {
  {{- range $pkg := .apt.prerequisites }}
  _apt {{ quote $pkg }}
  {{- end }}
}

_manage "prerequisites" _install_prerequisites
