#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

_install_apt_repositories() {
  {{- range $repo := .apt.repositories }}
    {{- $key := quote (print $.paths.local.gpg "/" $repo.name ".gpg") }}
    {{- $dst := quote (print "/etc/apt/sources.list.d/" $repo.name ".list") }}
    echo "deb [arch=$(dpkg --print-architecture) signed-by={{ $key }}] {{ $repo.url }} {{ $repo.branch }}" | \
      sudo tee {{ $dst }} >/dev/null
    _apt_update 2>&1 | grep -v WARNING
  {{- end }}
}

_manage "apt repositories" _install_apt_repositories
