#!/usr/bin/env bash
# global cache 3 {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

_install_apt_keys() {
  {{- range $key := .apt.apt_keys }}
    echo sudo apt-key adv --keyserver {{ quote $key.server }} --recv-keys {{ quote $key.id }}
  {{- end }}
}

_manage "apt keys" _install_apt_keys
