#!/usr/bin/env bash
# global cache {{ .cache.global }}

source "$(chezmoi source-path)/scripts/utils.sh"

_install_apt_keys() {
  {{- range $key := .apt.apt_keys }}
    sudo apt-key adv --keyserver {{ quote $key.server }} --recv-keys {{ quote $key.id }} >/dev/null
  {{- end }}
}

_manage "apt keys" _install_apt_keys
