# Managed by Chezmoi

[env]
ANTHROPIC_API_KEY = { value = {{ quote (onepasswordRead "op://infra/tokens.inference/anthropic.common") }}, redact = true }
OPENAI_API_KEY = { value = {{ quote (onepasswordRead "op://infra/tokens.inference/openai.common") }}, redact = true }
GEMINI_API_KEY = { value = {{ quote (onepasswordRead "op://infra/tokens.inference/gemini.common") }}, redact = true }
GITHUB_PERSONAL_ACCESS_TOKEN = { value = {{ quote (onepasswordRead "op://infra/github/readonly_token") }}, redact = true }
GROQ_API_KEY = { value = {{ quote (onepasswordRead "op://groq/tokens.inference/groq.common") }}, redact = true }
HOMEBREW_GITHUB_API_TOKEN = { value = {{ quote (onepasswordRead "op://infra/homebrew/token") }}, redact = true }
WAYHQ_NTFY_API_KEY = { value = {{ quote (onepasswordRead "op://infra/wayhq/tokens/ntfy") }}, redact = true }
