layout {
    pane borderless=true split_direction="vertical"
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
