#!/usr/bin/env bash
# Managed by Chezmoi

# Sane history
export HISTCONTROL=ignoreboth:erasedups
export HISTSIZE=100000000
shopt -u histappend 2>/dev/null

if command -v bat >/dev/null 2>&1; then
  export MANPAGER="sh -c 'col -bx | bat -l man -p'"
fi

# Temporary: for simplicity, unset any `ansi-*` aliases that might still be
#            lingering in old sessions.
for x in $(alias | grep ansi | cut -d= -f1 || true); do
  unalias "$x" || true
done

ansi-badge-blue() { ansi-badge 33 25 "$@"; }
ansi-badge-cyan() { ansi-badge 30 23 "$@"; }
ansi-badge-green() { ansi-badge 34 22 "$@"; }
ansi-badge-grey() { ansi-badge 240 237 "$@"; }
ansi-badge-lavender() { ansi-badge 177 98 "$@"; }
ansi-badge-magenta() { ansi-badge 162 89 "$@"; }
ansi-badge-orange() { ansi-badge 208 130 "$@"; }
ansi-badge-purple() { ansi-badge 129 54 "$@"; }
ansi-badge-red() { ansi-badge 160 88 "$@"; }
ansi-debug() { ansi-badge-grey DEBUG "$@"; }
ansi-error() { ansi-badge-red ERROR "$@"; }
ansi-important() { ansi-badge-purple IMPORTANT "$@"; }
ansi-info() { ansi-badge-blue INFO "$@"; }
ansi-ok() { ansi-badge-green OK "$@"; }
ansi-warning() { ansi-badge-orange WARNING "$@"; }
ansi-badge-list-all() {
  readonly _ansi_badges=(blue cyan green grey magenta orange purple red)
  readonly _ansi_named_badges=(debug error important info ok warning)
  for b in "${_ansi_badges[@]}"; do
    echo "ansi-badge-${b}"
  done
  for b in "${_ansi_named_badges[@]}"; do
    echo "ansi-${b}"
  done
}

{{ if isExecutable .path.named.mise -}}
eval "$({{ .path.named.mise }} env)"
{{- else -}}
export PATH="{{ .path.path }}"
{{- end }}
