# Managed by chezmoi

{{ range (onepassword "homebrew" "infra").fields }}
{{-  if eq .label "token" -}}
export HOMEBREW_GITHUB_API_TOKEN="{{ .value }}"
{{-  end -}}
{{ end }}

_homebrew_bin="/opt/homebrew/bin"
_homebrew_sbin="/opt/homebrew/bin"

case ":$PATH:" in
*":$_homebrew_sbin:"*) ;;
*) export PATH="${PATH}:${_homebrew_sbin}" ;;
esac

case ":$PATH:" in
*":$_homebrew_bin:"*) ;;
*) export PATH="${PATH}:${_homebrew_bin}" ;;
esac

if command -v brew >/dev/null 2>&1; then
	eval "$(brew shellenv)"
fi
