# Managed by chezmoi

{{ range (onepassword "homebrew" "infra").fields }}
{{-  if eq .label "token" -}}
export HOMEBREW_GITHUB_API_TOKEN="{{ .value }}"
{{-  end -}}
{{ end }}

if command -v brew >/dev/null 2>&1; then
	eval "$(brew shellenv)"
fi
