#!/usr/bin/env bash

export PROMPT_COMMAND='history -a;PS1X=$(p="${PWD#${HOME}}"; [ "${PWD}" != "${p}" ] && printf "~";IFS=/; for q in ${p:1}; do printf /${q:0:1}; done; printf "${q:1}")'
export BASE_PS1="${BLU}\${PS1X}${RESET} ${BOLD}${HIG}#${RESET} "
export PS1="${GRY}\D{%T}>${RESET} $BASE_PS1"
