# Managed by Chezmoi

export PATH="${HOME}/.local/bin:${PATH}"
{{ if isExecutable .path.named.mise -}}
{{ output .path.named.mise "env" | trim }}
{{- else -}}
export PATH="{{ .path.path }}"
{{- end }}

