#!/usr/bin/env bash
# Managed by Chezmoi

UV_VIRTUALENV_BIN="{{ .path.local }}/share/uv/venv/bin"
if [[ -d "$UV_VIRTUALENV_BIN" ]]; then
  export UV_VIRTUALENV_BIN

  case ":$PATH:" in
  *":$UV_VIRTUALENV_BIN:"*) ;;
  *) export PATH="${PATH}:${UV_VIRTUALENV_BIN}" ;;
  esac
fi
