#!/usr/bin/env bash
# Managed by Chezmoi

export PATH="${PATH}:{{ .path.home }}/.bun/bin"

export PNPM_HOME="{{ .path.home }}/Library/pnpm"
case ":$PATH:" in
*":$PNPM_HOME:"*) ;;
*) export PATH="${PATH}:${PNPM_HOME}" ;;
esac
