# Managed by chezmoi

{{ range (onepassword "groq:zed" "infra").fields }}
{{-  if eq .label "token" -}}
export OPENAI_API_KEY={{ quote .value }} # Zed
export GROQ_LSP_API_KEY={{ quote .value }} # lsp-ai
export GROQ_API_KEY={{ quote .value }} # general purpose
{{-  end -}}
{{ end }}
