#!/usr/bin/env bash

export CODEX_HOME="${HOME}/.config/codex"
export OPENAI_API_KEY={{ quote (onepasswordRead "op://infra/openai/gpt5_thinking") }}

alias codex='\codex --sandbox=danger-full-access --ask-for-approval=on-request --cd ${PWD}'
