# Managed by Chezmoi

redactions = ["*PASSWORD*", "*TOKEN*", "*KEY*", "*SECRET*"]

[env]
# ANTHROPIC_API_KEY = {{ quote (onepasswordRead "op://infra/tokens.inference/anthropic.common") }}
# OPENAI_API_KEY = {{ quote (onepasswordRead "op://infra/tokens.inference/openai.common") }}
GEMINI_API_KEY = {{ quote (onepasswordRead "op://infra/tokens.inference/gemini.common") }}
GITHUB_PERSONAL_ACCESS_TOKEN = {{ quote (onepasswordRead "op://infra/github/readonly_token") }}
GROQ_API_KEY = {{ quote (onepasswordRead "op://groq/tokens.inference/groq.common") }}
HOMEBREW_GITHUB_API_TOKEN = {{ quote (onepasswordRead "op://infra/homebrew/token") }}
WAYHQ_NTFY_API_KEY = {{ quote (onepasswordRead "op://infra/wayhq/tokens/ntfy") }}
