---
home: "{{ .path.home }}"
userbin: "{{ .path.home }}/bin"
gopath: "{{ .path.gopath }}"
gobin: "{{ .path.gopath }}/bin"
goroot: "{{ .path.goroot }}"
gorootbin: "{{ .path.goroot }}/bin"
local: "{{ .path.local }}"
localbin: "{{ .path.local }}/bin"
cargo: "{{ .path.cargo }}"
cargobin: "{{ .path.cargo }}/bin"
path: "{{ .path.path }}"

versions:
  chezmoi: "2.33"
