[env]
_.file = ".env"
_.source = [".envrc", ".envrc.local"]
GOTOOLCHAIN = "go{{ .versions.go }}"
JUST_UNSTABLE = 1

[tasks."go:build"]
run = "go build"
[tasks."go:test"]
run = "gotestsum -f dots -- -race -coverprofile cover.out -count 1"
[tasks."go:vtest"]
run = "go test -v -race -count 1 -coverprofile cover.out"
[tasks."go:cover:text"]
run = "go tool cover -func cover.out"
depends = ["go:test"]
[tasks."go:cover:html"]
run = "go tool cover -html cover.out"
depends = ["go:test"]

[tools]
1password = "latest"
aqua = "latest"
bat = "latest"
btop = {{ quote .versions.btop }}
chezmoi = "latest"
cosign = "latest"
ctop = "latest"
delta = "latest"
direnv = "latest"
fd = "latest"
ffmpeg = "latest"
fzf = {{ quote .versions.fzf }}
github-cli = "latest"
glow = "latest"
go = {{ quote .versions.go }}
gofumpt = "latest"
golangci-lint = "latest"
golangci-lint-langserver = "latest"
golines = "latest"
gotestsum = "latest"
gum = "latest"
helix = {{ quote .versions.helix }}
hurl = "latest"
jq = "latest"
just = "latest"
mask = "latest"
mprocs = "latest"
ninja = "latest"
node = "latest"
pipx = "latest"
pnpm = "latest"
pre-commit = {{ quote .versions.pre_commit }}
python = {{ quote .versions.python }}  # run mise settings python.compile=1 if issues
ripgrep = "latest"
shfmt = "latest"
sops = "latest"
staticcheck = "latest"
terraform = "latest"
ubi = "latest"
usage = "latest"
uv = "latest"
watchexec = "latest"
wtfutil = "latest"
yamlfmt = "latest"
yq = "latest"
zellij = {{ quote .versions.zellij }}

"ubi:brandonyoungdev/tldx" = "latest"
"ubi:opencode-ai/opencode" = "latest"
"ubi:smtg-ai/claude-squad" = "latest"

"cargo:bindgen-cli" = "latest"
"cargo:cargo-expand" = "latest"
"cargo:cargo-nextest" = "latest"
"cargo:cargo-tarpaulin" = "latest"
"cargo:cbindgen" = "latest"
"cargo:difftastic" = "latest"
"cargo:eza" = "latest"
"cargo:flamegraph" = "latest"
"cargo:git-branchless" = { version = "latest", locked = true }
"cargo:gping" = "latest"
"cargo:lsp-ai" = "latest"
"cargo:lstr" = "latest"
"cargo:minijinja-cli" = "latest"
"cargo:taplo-cli" = { version = "latest", features = "lsp" }
"cargo:trippy" = "latest"

"go:github.com/cashapp/hermit/cmd/hermit" = "latest"
"go:github.com/charmbracelet/mods" = "latest"
"go:github.com/github/github-mcp-server/cmd/github-mcp-server" = "latest"
"go:github.com/orlangure/gocovsh" = "latest"
"go:github.com/ymtdzzz/otel-tui" = "latest"
"go:go.mway.dev/dirfmt" = "latest"
"go:go.mway.dev/git/cmd/git-flow" = "latest"
"go:go.uber.org/mock/mockgen" = "latest"
"go:golang.org/x/perf/cmd/benchstat" = "latest"
"go:golang.org/x/tools/cmd/benchcmp" = "latest"
"go:golang.org/x/tools/cmd/deadcode" = "latest"
"go:golang.org/x/tools/cmd/goimports" = "latest"
"go:golang.org/x/tools/gopls" = "latest"

"npm:@anthropic-ai/claude-code" = "latest"
"npm:@google/gemini-cli" = "latest"
"npm:@modelcontextprotocol/server-filesystem" = "latest"
"npm:@modelcontextprotocol/server-memory" = "latest"
"npm:@modelcontextprotocol/server-sequential-thinking" = "latest"
"npm:@sourcegraph/amp" = "latest"
"npm:yaml-language-server" = "latest"

"pipx:aider-chat" = { version = "latest", uvx_args = "--force --python python3.12 --with pip" }
"pipx:flake8" = "latest"
"pipx:isort" = "latest"
"pipx:jedi-language-server" = "latest"
"pipx:psf/black" = "latest"
"pipx:pyflakes" = "latest"
"pipx:pylint" = "latest"
"pipx:python-lsp-server" = "latest"
"pipx:ruff" = "latest"
"pipx:llm" = "latest"
"pipx:python-lsp-black" = "latest"
"pipx:mcp-server-fetch" = "latest"
"pipx:mcp-server-git" = "latest"
"pipx:mcp-server-time" = "latest"

{{ if .personal -}}
# Personal
bazel = {{ quote .versions.bazel }}
lefthook = "latest"
nomad = "latest"
yt-dlp = "latest"
"go:go.mway.dev/ensure" = "latest"
"pipx:ansible" = { version = "latest", uvx = "false", pipx_args = "--include-deps" }
{{- else -}}
# Groq
kubectl = "latest"
kubectx = "latest"
{{- end }}

[settings]
auto_install = true
not_found_auto_install = true
experimental = true
jobs = 4
