[env]
_.file = ".env"
_.source = [".envrc", ".envrc.local"]
GOTOOLCHAIN = "go{{ .versions.go }}"
JUST_UNSTABLE = 1

[tools]
1password = {{ quote .versions.onepassword }}
aqua = {{ quote .versions.aqua }}
bat = {{ quote .versions.bat }}
btop = {{ quote .versions.btop }}
chezmoi = {{ quote .versions.chezmoi }}
cosign = {{ quote .versions.cosign }}
ctop = {{ quote .versions.ctop }}
delta = {{ quote .versions.delta }}
direnv = {{ quote .versions.direnv }}
fd = {{ quote .versions.fd }}
ffmpeg = {{ quote .versions.ffmpeg }}
fzf = {{ quote .versions.fzf }}
github-cli = {{ quote .versions.gh }}
glow = {{ quote .versions.glow }}
go = {{ quote .versions.go }}
gofumpt = {{ quote .versions.gofumpt }}
golangci-lint = {{ quote .versions.golangci_lint }}
golangci-lint-langserver = {{ quote .versions.golangci_lint_langserver }}
golines = {{ quote .versions.golines }}
gotestsum = {{ quote .versions.gotestsum }}
gum = {{ quote .versions.gum }}
helix = {{ quote .versions.helix }}
hurl = {{ quote .versions.hurl }}
jq = {{ quote .versions.jq }}
just = {{ quote .versions.just }}
mask = {{ quote .versions.mask }}
ninja = {{ quote .versions.ninja }}
node = {{ quote .versions.node }}
pipx = {{ quote .versions.pipx }}
pnpm = {{ quote .versions.pnpm }}
pre-commit = {{ quote .versions.pre_commit }}
python = {{ quote .versions.python }}  # run mise settings python.compile=1 if issues
ripgrep = {{ quote .versions.ripgrep }}
shfmt = {{ quote .versions.shfmt }}
staticcheck = {{ quote .versions.staticcheck }}
terraform = {{ quote .versions.terraform }}
ubi = {{ quote .versions.ubi }}
uv = {{ quote .versions.uv }}
watchexec = {{ quote .versions.watchexec }}
wtfutil = {{ quote .versions.wtfutil }}
yamlfmt = {{ quote .versions.yamlfmt }}
yq = {{ quote .versions.yq }}
zellij = {{ quote .versions.zellij }}

"cargo:bindgen-cli" = {{ quote .versions.bindgen }}
"cargo:cargo-expand" = {{ quote .versions.cargo_expand }}
"cargo:cbindgen" = {{ quote .versions.cbindgen }}
"cargo:difftastic" = {{ quote .versions.difftastic }}
"cargo:eza" = {{ quote .versions.eza }}
"cargo:gping" = {{ quote .versions.gping }}
"cargo:lsp-ai" = {{ quote .versions.lsp_ai }}
"cargo:lstr" = {{ quote .versions.lstr }}
"cargo:minijinja-cli" = {{ quote .versions.minijinja }}
"cargo:taplo-cli" = { version = {{ quote .versions.taplo }}, features = "lsp" }
"cargo:trippy" = {{ quote .versions.trippy }}

"go:github.com/github/github-mcp-server/cmd/github-mcp-server" = {{ quote .versions.github_mcp_server }}
"go:github.com/brandonyoungdev/tldx" = {{ quote .versions.tldx }}
"go:github.com/cashapp/hermit/cmd/hermit" = {{ quote .versions.hermit }}
"go:github.com/charmbracelet/mods" = {{ quote .versions.mods }}
"go:github.com/opencode-ai/opencode" = {{ quote .versions.opencode }}
"go:github.com/orlangure/gocovsh" = {{ quote .versions.gocovsh }}
"go:github.com/ymtdzzz/otel-tui" = {{ quote .versions.otel_tui }}
"go:go.mway.dev/dirfmt" = {{ quote .versions.dirfmt }}
"go:go.mway.dev/git/cmd/git-flow" = {{ quote .versions.git_flow }}
"go:go.uber.org/mock/mockgen" = {{ quote .versions.mockgen }}
"go:golang.org/x/perf/cmd/benchstat" = {{ quote .versions.benchstat }}
"go:golang.org/x/tools/cmd/benchcmp" = {{ quote .versions.benchcmp }}
"go:golang.org/x/tools/cmd/deadcode" = {{ quote .versions.deadcode }}
"go:golang.org/x/tools/cmd/goimports" = {{ quote .versions.goimports }}
"go:golang.org/x/tools/gopls" = {{ quote .versions.gopls }}

"npm:yaml-language-server" = {{ quote .versions.yaml_lsp }}
"npm:@modelcontextprotocol/server-filesystem" = "latest"
"npm:@modelcontextprotocol/server-memory" = "latest"
"npm:@modelcontextprotocol/server-sequential-thinking" = "latest"

"pipx:flake8" = {{ quote .versions.flake8 }}
"pipx:isort" = {{ quote .versions.isort }}
"pipx:jedi-language-server" = {{ quote .versions.jedi }}
"pipx:psf/black" = {{ quote .versions.black }}
"pipx:pyflakes" = {{ quote .versions.pyflakes }}
"pipx:pylint" = {{ quote .versions.pylint }}
"pipx:python-lsp-server" = {{ quote .versions.pylsp }}
"pipx:ruff" = {{ quote .versions.ruff }}

{{ if .personal -}}
# Personal
bazel = {{ quote .versions.bazel }}
lefthook = {{ quote .versions.lefthook }}
nomad = {{ quote .versions.nomad }}
yt-dlp = {{ quote .versions.yt_dlp }}
"go:go.mway.dev/ensure" = {{ quote .versions.ensure }}
"pipx:ansible" = { version = {{ quote .versions.ansible }}, uvx = "false", pipx_args = "--include-deps" }
{{- else -}}
# Groq
kubectl = "latest"
kubectx = "latest"
{{- end }}

[settings]
auto_install = true
not_found_auto_install = true
experimental = true
jobs = 4
