[tools]
aqua = {{ quote .versions.aqua }}
bat = {{ quote .versions.bat }}
btop = {{ quote .versions.btop }}
chezmoi = {{ quote .versions.chezmoi }}
cosign = {{ quote .versions.cosign }}
ctop = {{ quote .versions.ctop }}
delta = {{ quote .versions.delta }}
direnv = {{ quote .versions.direnv }}
fd = {{ quote .versions.fd }}
ffmpeg = {{ quote .versions.ffmpeg }}
fzf = {{ quote .versions.fzf }}
github-cli = {{ quote .versions.gh }}
go = {{ quote .versions.go }}
gofumpt = {{ quote .versions.gofumpt }}
golangci-lint = {{ quote .versions.golangci_lint }}
golangci-lint-langserver = {{ quote .versions.golangci_lint_langserver }}
golines = {{ quote .versions.golines }}
gotestsum = {{ quote .versions.gotestsum }}
helix = {{ quote .versions.helix }}
jq = {{ quote .versions.jq }}
just = {{ quote .versions.just }}
ninja = {{ quote .versions.ninja }}
pipx = {{ quote .versions.pipx }}
pnpm = {{ quote .versions.pnpm }}
python = {{ quote .versions.python }}  # run mise settings python.compile=1 if issues
ripgrep = {{ quote .versions.ripgrep }}
shfmt = {{ quote .versions.shfmt }}
staticcheck = {{ quote .versions.staticcheck }}
terraform = {{ quote .versions.terraform }}
ubi = {{ quote .versions.ubi }}
uv = {{ quote .versions.uv }}
watchexec = {{ quote .versions.watchexec }}
yamlfmt = {{ quote .versions.yamlfmt }}
yq = {{ quote .versions.yq }}
zellij = {{ quote .versions.zellij }}

"cargo:difftastic" = {{ quote .versions.difftastic }}
"cargo:eza" = {{ quote .versions.eza }}

"go:go.mway.dev/git/cmd/git-flow" = {{ quote .versions.git_flow }}
"go:go.uber.org/mock/mockgen" = {{ quote .versions.mockgen }}
"go:github.com/cashapp/hermit/cmd/hermit" = {{ quote .versions.hermit }}
"go:golang.org/x/tools/cmd/deadcode" = {{ quote .versions.deadcode }}
"go:golang.org/x/tools/cmd/goimports" = {{ quote .versions.goimports }}
"go:golang.org/x/tools/gopls" = {{ quote .versions.gopls }}

"pipx:flake8" = {{ quote .versions.flake8 }}
"pipx:isort" = {{ quote .versions.isort }}
"pipx:jedi-language-server" = {{ quote .versions.jedi }}
"pipx:psf/black" = {{ quote .versions.black }}
"pipx:pyflakes" = {{ quote .versions.pyflakes }}
"pipx:pylint" = {{ quote .versions.pylint }}
"pipx:python-lsp-server" = {{ quote .versions.pylsp }}
"pipx:ruff" = {{ quote .versions.ruff }}
"npm:yaml-language-server" = {{ quote .versions.yaml_lsp }}

{{ if .personal -}}
# Personal
ansible = {{ quote .versions.ansible }}
bazel = {{ quote .versions.bazel }}
bazelisk = {{ quote .versions.bazelisk }}
lefthook = {{ quote .versions.lefthook }}
nomad = {{ quote .versions.nomad }}
pre-commit = {{ quote .versions.pre_commit }}
yt-dlp = {{ quote .versions.yt_dlp }}
"go:go.mway.dev/dirfmt" = {{ quote .versions.dirfmt }}
"go:go.mway.dev/ensure" = {{ quote .versions.ensure }}
{{- else -}}
# Groq
mask = {{ quote .versions.mask }}
kubectl = "latest"
kubectx = "latest"
{{- end }}

[env]
GOTOOLCHAIN = "go{{ .versions.go }}"

[settings]
experimental = true
