{{ $token := onepasswordRead "op://groq/api.tokens/groq.common" -}}
{
  "custom_models": [
    {
      "model_display_name": "Kimi K2 [Groq]",
      "model": "moonshotai/kimi-k2-instruct-0905",
      "base_url": "https://api.groq.com/openai/v1",
      "api_key": "{{ $token }}",
      "provider": "generic-chat-completion-api",
      "max_tokens": 32000
    },
    {
      "model_display_name": "GPT-OSS 120b [Groq]",
      "model": "openai/gpt-oss-120b",
      "base_url": "https://api.groq.com/openai/v1",
      "api_key": "{{ $token }}",
      "provider": "generic-chat-completion-api",
      "max_tokens": 32000
    }
  ]
}
